[Unit]
After=network.target

[Service]
ExecStart=python3 /opt/netmon/main.py
Restart=always
WorkingDirectory=/opt/netmon

[Install]
WantedBy=multi-user.target
